.genresCheckboxContainer{
    display: flex;
    flex-direction: column;
}

.gameItem{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameItem {
    width: 700px;
}
.gameInfoContainer{
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

